@font-face {
    font-family: "dm-serif-display-regular";
    src: url("../fonts/dm-serif-display-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    /*font-family: "dm-serif-display-regular", fantasy;*/
    font-family: "dm-serif-display-regular", fantasy;
}